@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrapper {
  position: relative;
  @include m.flex(center, center, column);
  border: 1px solid c.$C_BLACK;
  border-radius: 8px;

  height: 360px;
  padding: 12px;
  background-color: c.$C_WHITE;
  // transition: transform 0.5s ease-in-out;

  > img {
    width: 120px;
    height: 120px;

    object-fit: contain;
  }

  > h2 {
    font-size: 24px;
    font-weight: 500px;
    margin-top: 12px;
    z-index: 1;
  }

  > p {
    z-index: 1;
    max-width: 200px;
    margin-top: 24px;
  }
}
